<div class="row">
  
  <div id="menu" class="col-md-2">
    
    {% include 'account/menu' %}
    
  </div>
  
  <div id="content" class="col-md-8">
	
    <ol class="breadcrumb">
      <li><a href="{{ urls.applications }}">Applications</a></li>
      <li><a href="{{ application.url }}">{{ application.name }}</a></li>
      <li class="active">Edit Application</li>
    </ol>
    
    <div class="content-header">
      <h1>Edit Application</h1>

      <div class="btn-group">
        {% if application.can.be_destroyed? %}
          <a href="{{ application.path }}" class="btn btn-danger pull-right" data-method="delete" data-confirm="Are you sure you want to delete the application {{ application.name }} ?">
            <i class="fa fa-trash-o"></i>
            Delete
          </a>
        {% endif %}
      </div>
    </div>

    <div class="well well-sm">
      <strong>WHITELIST DOMAINS</strong> is a list of comma-separated domain names or IP addresses from which requests to the API will be allowed for this application. <strong>REDIRECT URI</strong> is the location where users will be redirected after successfully completing the OAuth flow. The access token will be available to the page you serve at this location.
    </div>

    <div>
      {% form 'application.update', application, class: "form-horizontal" %}
          {% include 'applications/form' %}
      	
          <fieldset>
            <div class="form-group">
              <div class="col-md-10">
                <input class="btn btn-primary pull-right"
                  name="commit"
                  type="submit"
                  value="Update Application" />
              </div>
            </div>
          </fieldset>
        {% endform %}
    </div>
    
  </div>
</div>