<div id="applications-index-content" class="row">

  <div id="menu" class="col-md-2">
    {% include 'account/menu' %}
  </div>
  
  <div id="content" class="col-md-8">
    
    <div class="content-header">
      <h1>Applications</h1>
      
      <div class="btn-group">
        {% if current_user.can.create_application? %}
          <a href="{{ urls.new_application }}" class="btn btn-primary header-btn" id="createApp">
            <i class="fa fa-cube"></i>
            New Application
          </a>
        {% endif %}
      </div>
    </div>
    
    <table class="table table-striped" id="applications">
      <thead>
        <tr>
          <th>Name</th>
          {% if false && provider.services.size > 1 %}
          <th>Service</th>
          {% endif %}
          <th>Client ID</th>
          <!--- <th>State</th> --->
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for application in applications %}
        <tr class="{% cycle 'applications': 'odd', 'even' %}" id="application_{{ application.id }}">
          <td>
            {{ application.name | link_to: application.url }}
          </td>
          {% if false && provider.services.size > 1 %}
          <td>{{ application.service.name }}</td>
          {% endif %}
          <td>{{ application.key }}</td>
          <!--- <td>{{ application.state }}</td> --->
          <td>
            {% if application.can.be_updated? %}
            <a href="{{ application.edit_url }}">
              <i class="fa fa-pencil"></i>
            </a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'shared/pagination' with pagination %}

  </div>
</div>