<div class="row">
  
  <div id="menu" class="col-md-2">
    
    {% include 'account/menu' %}
    
  </div>
  
  <div id="content" class="col-md-8">
	
    <ol class="breadcrumb">
      <li><a href="{{ urls.applications }}">Applications</a></li>
      <li class="active">New Application</li>
    </ol>
    
    <div class="content-header">
      <h1>New Application</h1>

      <div class="btn-group">
      </div>
    </div>
    
    <div class="well well-sm">
      <strong>WHITELIST DOMAINS</strong> is a list of comma-separated domain names or IP addresses from which requests to the API will be allowed for this application. <strong>REDIRECT URI</strong> is the location where users will be redirected after successfully completing the OAuth flow. The access token will be available to the page you serve at this location.
    </div>

    <div>
      {% form 'application.create', application, class: "form-horizontal" %}
      {% include 'applications/form' %}
      <fieldset>
        <div class="form-group">
          <div class="col-md-10">
            <input class="btn btn-primary pull-right"
                   name="commit"
                   type="submit"
                   value="Create Application" />
          </div>
        </div>
      </fieldset>
      {% endform %}
    </div>
    
  </div>
</div>