<style>
.links span {
  padding: 0 10px 0 0;
}
</style>

<div class="row">
  <div id="menu" class="col-md-2">
    {% include 'tools/menu' %}
  </div>
  <div id="content" class="col-md-8">
    
    <h1>Libraries</h1>
    
    <p>
      We provide these SDKs to simplify development using the Bluescape API. <a href="{{ urls.compose_message }}">Let us know</a> if we don't have an SDK for the programming language you use.
    </p>
    
    <table>
      <tr>
        <th>Javascript/Node.js</th>
        <td>
          <a class="btn btn-link" href="https://github.com/Bluescape/bluescape-sdk-js" target="_blank">
	        <span>Bluescape/bluescape-sdk-js</span>
            <i class="fa fa-external-link"></i>
	      </a>
        </td>
      </tr>
    </table>
    
  </div>
</div>