<div class="row">
  <div id="menu" class="col-md-2">
    {% include 'tools/menu' %}
  </div>
  <div id="content" class="col-md-8">
    	
    <h1>Code & Tools</h1>
    
    <h3>Libraries</h3>
    
    <p>
      Libraries for integrating easily with the Bluescape API using your favorite languages.
    </p>

	<a href="/tools/libraries" class="action">Explore the Libraries</a>
    
    <h3>Postman Collection</h3>
	
  	<p>
      API collection that you can import into your Postman application with 1 click.
    </p>

	<a href="/tools/postman-collection" class="action">Download the Collection</a>
    
    <h3>Access Token Generator</h3>
	
  	<p>
      Quickly generate an access token using your Bluescape login to test the Bluescape API.
    </p>

	<a href="/tools/access-token" class="action">Open the Tool</a>
    
    <h3>API Explorer</h3>
	
  	<p>
      Explore the Bluescape API from your browser: customize requests, query data, and review responses. 
    </p>

	<a href="/tools/api-explorer" class="action">Open the Tool</a>
  
  </div>
</div>