<div id="navbar-1" class="navbar-collapse collapse">

  <ul class="nav navbar-nav">
    <li><a href="/overview">Overview</a></li>
    <li><a href="/guides">Guides</a></li>
    <li><a href="/reference">Reference</a></li>
    <li><a href="/tools">Code & Tools</a></li>
  	<li><a href="/support">Support</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
    {% if current_user %}
  		<li role="presentation" class="dropdown">
  		  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
  		    {{ current_user.email }} <span class="caret"></span>
  		  </a>
  		  <ul class="dropdown-menu">
            <li>
              <dt>User Name</dt>
              <dd>{{ current_user.username }}</dd>
            </li>
  		    <li><a href="{{ urls.applications }}">Applications</a></li>
            <li>
              <a href="{{ urls.messages_inbox }}">
                Messages
                {% if current_account.unread_messages.size > 0 %}
                  <span class="badge">{{ current_account.unread_messages.size }}</span>
                {% endif %}
              </a>
            </li>
            
            {% if current_user.admin? %}
  		    <li><a href="{{ urls.account_overview }}">Account</a></li>
            {% endif %}
            
            <!---
            {% if current_user.admin? %}
			<li><a href="{{ urls.users }}">Users</a></li>
            {% endif %}
            --->
            
  		    <li><a href="{{ urls.personal_details }}">Profile</a></li>
  		    <li><a href="{{ urls.logout }}">Logout</a></li>
  		  </ul>
    	</li>
    {% else %}
      <li>
        <a href="{{ urls.login }}" title="Login">
          Login
        </a>
      </li>
      <li>
        <a href="{{ urls.signup }}" title="Signup">
          Sign Up
        </a>
      </li>
    {% endif %}
  </ul>
</div>