<div class="row">
  
  <div id="menu" class="col-md-2">
    
    {% include 'account/menu' %}
    
  </div>
  
  <div id="content" class="col-md-8">
	
    <ol class="breadcrumb">
      <li><a href="{{ urls.account_overview }}">Settings</a></li>
      <li class="active">Edit Settings</li>
    </ol>
    
    <div class="content-header">
	  <h1>Edit Settings</h1>

      <div class="btn-group">
      </div>
    </div>
    
    <div>

      {% form 'account.personal_details', current_account, class: "form-horizontal" %}

      <fieldset class="inputs" name="Contact Details">
        {% for field in current_account.fields %}
        {% include 'field' with field %}
        {% endfor %}
      </fieldset>

      <fieldset>
        <div class="form-group">
          <div class="col-md-10">
            <input class="btn btn-primary pull-right" name="commit" type="submit" value="Update Account" />
          </div>
        </div>
      </fieldset>

      {% endform %}
    </div>
    
  </div>
</div>