<div class="row">
  
  <div id="menu" class="col-md-2">
    
    {% include 'account/menu' %}
    
  </div>
  
  <div id="content" class="col-md-8">
	
    <div class="content-header">
	  <h1>Invitations</h1>
      <div class="btn-group">
        {% if current_user.can.invite_users? %}
        <a href="{{ urls.new_invitation }}" class="btn btn-primary">
          <i class="fa fa-child"></i>
		  Invite User
        </a>
        {% endif %}
      </div>
    </div>
    
    <table id="invitations" class="table table-striped">
      <thead>
        <tr>
          <th>Recipient</th>
          <th>Sent</th>
          <th>Accepted?</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        {% if invitations.size > 0 %}
          {% for invitation in invitations %}
            <tr id="invitation_{{ invitation.id }}">
              <td>{{ invitation.email }}</td>
              <td>
                {{ invitation.sent_at | date: i18n.short_date }}
              </td>
              <td>
                {% if invitation.accepted? %}
                  yes, on {{invitation.accepted_at | format: i18n.short_date }}
                {% else %}
                  no
                {% endif %}
              </td>
              <td>
                  {% unless invitation.accepted? %}
                    {{ "Resend" | update_button: invitation.resend_url, class: 'btn btn-link pull-right' }}
                  {% endunless %}

              </td>
              <td>
                  {% if current_user.can.invite_users? %}
                      {{ '<i class="fa fa-trash pull-right"></i>' | html_safe | link_to: invitation.url, class: 'pull-right btn btn-link', method: 'delete' }}
                  {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="5">No invitations</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
    
    {% include 'shared/pagination' with pagination %}
    
  </div>
</div>