<div class="row">
  
  <div id="menu" class="col-md-2">
    
    {% include 'account/menu' %}
    
  </div>
  
  <div id="content" class="col-md-8">
	
    <ol class="breadcrumb">
      <li><a href="{{ urls.invitations }}">Invitations</a></li>
      <li class="active">New Invitation</li>
    </ol>
    
    <div class="content-header">
      <h1>New invitation</h1>

      <div class="btn-group">
        
      </div>
    </div>
    
    <div>
      {% form 'invitation.create', invitation, class: "form-horizontal" %}
      <fieldset>
        <div class="form-group">
          <label for="invitation_email" class="control-label col-md-4">
            Send invitation to
          </label>
          <div class="col-md-6">
            <input id="invitation_email" maxlength="255"
                   name="invitation[email]"
                   type="email"
                   value="{{ invitation.email }}"
                   class="{{ invitation.errors.email | error_class }} form-control"/>
            {{ invitation.errors.email | inline_errors }}
            <p class="help-block">
              Email address of a colleague or friend you want to invite to use this account.
            </p>
          </div>
        </div>
      </fieldset>
      <div class="form-group">
        <div class="col-md-10">
          <input name="commit" class="btn btn-primary pull-right" type="submit" value="Invite User">
        </div>
      </div>
      {% endform %}
    </div>
    
  </div>
</div>