<div class="row">
  
  <div id="menu" class="col-md-2">
    
    {% include 'account/menu' %}
    
  </div>
  
  <div id="content" class="col-md-8">
	
    <div class="content-header">
      <h1>All Users</h1>

      <div class="btn-group">
        {% if current_user.can.invite_users? %}
        <a class="btn btn-primary header-btn" href="{{ urls.new_invitation }}">
          <i class="fa fa-child"></i>
          Invite User
        </a>
        {% endif %}
      </div>
    </div>
    
    <table id="users" class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>
            {{ current_user.fields.email.label }}
          </th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>
              {% if user == current_user %}
                <span class="label label-primary">YOU</span>
              {% endif %}
              {{ user.display_name }}
            </td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
              {% if user.can.be_managed? %}
                {% if current_user == user %}
                  <a href="{{ urls.personal_details }}" title="Edit user">
                    <i class="fa fa-pencil"></i>
                  </a>
                {% else %}
                  <a href="{{ user.edit_url }}" title="Edit user">
                    <i class="fa fa-pencil"></i>
                  </a>
                {% endif %}
              {% endif %}


            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include 'shared/pagination' with pagination %}

  </div>
</div>