<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <p style="font-size: 9px; margin: 0;">A product of</p>
        
        <img src="/images/BluescapeLogo_White_Blue.png" class="logo">

        <p>
          999 Skyway Rd., Ste. 145<br/>
          San Carlos, CA 94070
        </p>

        <p>
          © 2018 Bluescape.<br/>
          All Rights Reserved.
        </p>
      </div>
      <div class="col-md-3">
        <h5>Contact Us</h5>

        <p>
          Sales: 1-888-507-0030<br />
          Support: 1-888-507-0085<br />
          <a href="{{ urls.compose_message }}">Contact Form</a>
        </p>
      </div>
      <div class="col-md-3">
        <h5>Links</h5>

        <p>
          <a href="http://bluescape.com" target="_blank">Bluescape</a><br />
          <a href="http://support.bluescape.com" target="_blank">Bluescape Support</a>
        </p>
      </div>
      <div class="col-md-2">
        <h5>Legal</h5>

        <p>
          <a href="/legal/terms">Terms of Service</a><br/>
          <a href="https://bluescape.com/privacy-policy/" target="_blank">Privacy Policy</a>
        </p>
      </div>
    </div>
  </div>
</div>