<h1>Guides</h1>

<h3>User Authentication</h3>

<p>
In order for applications to access the Bluescape API they must be authorized by an existing Bluescape user. The User Authentication guide explains how to use your application's credentials to obtain this authorization.
</p>

<a href="/guides/user-auth" class="action">Open Guide</a>


<h3>Basic API Request</h3>

<p>
Once an application has receive an access token, it is free to start accessing the Bluescape API. The Basic API Request guide presents some example requests to get you started creating your application.
</p>

<a href="/guides/basic-api-requests" class="action">Open Guide</a>

<h3>Listeners</h3>

<p>
Listeners are a powerful tool for monitoring Bluescape workspaces and responding to user actions by updating other systems. The Listeners guide describes in detail how listeners work and how to get started using them.
</p>

<a href="/guides/listeners" class="action">Open Guide</a>