<h1>User Authentication</h1>

<p>
Applications that want to query the Bluescape API must be authorized to do so by an active Bluescape user. Applications obtain this authorization using the OAuth flow which enables users to share access to their account without divulging their password.
</p>
  
<p>
Once authorized, applications receive access tokens from Bluescape which enable them to access Bluescape resources on behalf of the authorizing user. Changes made in Bluescape using these access tokens appear in the system as if made by the users themselves. Access tokens inherit the access rights of the user that authorized them, and thus, access tokens only enable applications to access and modify those resources in Bluescape that the user already has access to.
</p>

<h3>OAuth Flow</h3>

<ol>
  <li>When an application wishes to connect to Bluescape on behalf of a user, it directs that user to the authorization page on Bluescape's servers, identifying itself as the intended recipient of an access token tied to the user.</li>
  <li>On the authorization page, users give consent to providing an access token to the application by authenticating to their Bluescape account with their Bluescape credentials. Only Bluescape ever receives and validates the user's password.</li>
  <li>If user authentication is successful, Bluescape redirects the user back to the application along with a newly generated access token.</li>
  <li>The application extracts the access token and is then able to start querying the Bluescape API.</li>
  <li>Because access tokens expire after 2 weeks, applications must respond to <span class="pre">401 Unauthorized</span> responses from the Bluescape API by initiating this flow again.</li>
</ol>

<img class="img-responsive center-block" src="/images/OAuthFlow.png">

<h3>Step 1: Direct the User to Bluescape for Authorization</h3>

<p>
Applications requesting an access token should direct users to the authorization page at:
</p>

<pre>https://api.apps.us.bluescape.com/authorize</pre>

<p>
The following parameters should be URL-encoded and passed in the query string:
</p>

<table class="table table-striped">
  <tr>
    <th>NAME</th>
    <th>REQUIRED</th>
    <th>DESCRIPTION</td>
  </tr>
  <tr>
    <td>client_id</td>
    <td>Required</td>
    <td>Use the Client ID assigned to the application.</td>
  </tr>
  <tr>
    <td>redirect_uri</td>
    <td>Required</td>
    <td>Use the Redirect URI provided in the application's settings.</td>
  </tr>
</table>

<p>
When users arrive to the authorization page they will be asked to log in to their Bluescape account. By entering valid Bluescape credentials, users will implicitly authorize the application to receive an access token connected to their account. Bluescape will then generate an access token for the application that uniquely bestows upon anyone who holds it access to impersonate the user in the name of the application. In the interest of everyone, developers must treat these access tokens with care.
</p>

<h3>Step 2: Implement Code that Extracts the Access Token</h3>

<p>
Once authorization is complete, Bluescape will redirect users back to the application along with the access token. Specifically, users will be sent to the Redirect URI specified in the application settings and the access token will be provided in the URL <a href="https://en.wikipedia.org/wiki/Fragment_identifier" target="_blank">fragment</a> (after the '#'). Applications will need to extract and store the access token before continuing the user experience. Note: server-side apps do not have visibility of the URL fragment and therefore cannot be responsible for extracting the access token.
</p>

<h4>Format of the incoming URL</h4>

<pre>
&lt;redirect_uri&gt;#access_token=&lt;access_token&gt;&token_type=Bearer
</pre>

<h4>Sample incoming URL</h4>

<pre>
https://myapp.com/oauth/callback#access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc...&token_type=Bearer
</pre>

<h4>The URL fragment will contain the following parameters in query string format:</h4>

<table class="table table-striped">
  <tr>
    <th>NAME</th>
    <th>DESCRIPTION</td>
  </tr>
  <tr>
    <td>access_token</td>
    <td>The precious access token for connecting to the Bluescape API. Store it safely.</td>
  </tr>
  <tr>
    <td>token_type</td>
    <td>Always has value <span class="pre">Bearer</span>.</td>
  </tr>
</table>

<p>
Sample Javascript code to extract this fragment from the <span class="pre">window.location</span>:
</p>

<pre>
&lt;script>
  const params = {};
  const queryString = location.hash.substring(1);
  const regex = /([^&=]+)=([^&]*)/g;

  let match;

  while (match = regex.exec(queryString)) {
    params[match[1]] = match[2];
  }

  const accessToken = params.access_token;
  alert(accessToken);
&lt;/script>
</pre>

<h3>Step 3: Using the Access Token</h3>

<p>
  Access tokens enable applications to make requests of the Bluescape API. They are intended to be used as Bearer tokens and should be provided in the <span class="pre">Authorization</span> header of HTTP requests to the Bluescape API. The value of the header must be <span class="pre">Bearer</span>, a space, and the access token.
</p>

<p>
  Example HTTP request:
</p>

<pre>
curl -X GET https://api.apps.us.bluescape.com/session/user \
  -H 'Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc...'
</pre>

<p>
  When initializing SDKs, the authorization parameter should contain the 'Bearer ' prefix.
</p>

<pre>
const authorization = "Bearer " + accessToken;
const client = new Bluescape({ authorization });
</pre>

<p>
  Please remember, access tokens expire 2 weeks after they are issued. Requests made with expired access tokens will receive a <span class="pre">401 Unauthorized</span> response from the Bluescape API. The proper response in this case is to restart the authorization flow with the user.
</p>

<h3>Full Example</h3>

<h4>Preconditions</h4>

<table class="table table-striped">
  <tr>
    <th>NAME</th>
    <th>VALUE</td>
  </tr>
  <tr>
    <td>Application Name</td>
    <td>My Bluescape App</td>
  </tr>
  <tr>
    <td>Application Redirect URI</td>
    <td>https://my-bluescape-app.io/oauth/callback</td>
  </tr>
  <tr>
    <td>Application Client ID</td>
    <td>a33e5f767</td>
  </tr>
  <tr>
    <td>Application Whitelisted Domains</td>
    <td>https://my-bluescape-app.io</td>
  </tr>
</table>

<h4>Authorization URL</h4>

<pre>https://identity.apps.us.bluescape.com/login?client_id=a33e5f767&redirect_uri=http%3A%2F%2Fmy-bluescape-app.io%2Foauth2%2Fcallback</pre>

<h4>Callback URL</h4>

<pre>https://my-bluescape-app.io/oauth/callback#access_token=eyJhbGciOiJIUzI1NiIsImtpZCI6Imp3dF9zeW1tZXRyaWNfa2V5In0.eyJ1c2VyaWQiOiJIU0pHTTdUSFJIVUIiLCJleHAiOjE1MDE4OTI5MjgsInNjb3BlIjpbXSwiY2xpZW50X2lkIjoibk9oYnJPZW9HeHE4R2JBeFVvR2NIcXpEWmVqQWxxSUsiLCJhdWQiOiJodHRwczovL2F1dG9kZXNrLmNvbS9hdWQvand0ZXhwMTQ0MCIsImp0aSI6Im12bmwyZ2tKOEU4Tkd2S2JEVk00S3BHaTRCYkZtRndyUmVrd2NjT3B3RU1OTlVTdnZrNnljNllWSGo3d29WWjMifQ.Niy8dwBQVuhcaCTClZqttJleuKIoQtnS8yoT1ZJWgNg&token_type=Bearer</pre>

<h4>Access Token (extracted from the callback url)</h4>

<pre>eyJhbGciOiJIUzI1NiIsImtpZCI6Imp3dF9zeW1tZXRyaWNfa2V5In0.eyJ1c2VyaWQiOiJIU0pHTTdUSFJIVUIiLCJleHAiOjE1MDE4OTI5MjgsInNjb3BlIjpbXSwiY2xpZW50X2lkIjoibk9oYnJPZW9HeHE4R2JBeFVvR2NIcXpEWmVqQWxxSUsiLCJhdWQiOiJodHRwczovL2F1dG9kZXNrLmNvbS9hdWQvand0ZXhwMTQ0MCIsImp0aSI6Im12bmwyZ2tKOEU4Tkd2S2JEVk00S3BHaTRCYkZtRndyUmVrd2NjT3B3RU1OTlVTdnZrNnljNllWSGo3d29WWjMifQ.Niy8dwBQVuhcaCTClZqttJleuKIoQtnS8yoT1ZJWgNg</pre>

<h3>Next Steps</h3>

<p>
  Check out the <a href="/guides/basic-api-requests">Basic API Requests</a> guide to get started using your access token.
</p>