<div class="row">
  <div id="menu" class="col-md-2">
    {% include 'support/menu' %}
  </div>
  <div id="content" class="col-md-8">
    
    <h1>Getting help with Bluescape APIs</h1>
    
    <h3>Step 1: Read our FAQs and Guides</h3>
    
    <p>
      Review commonly asked questions in our <a href="/support/faq">FAQ</a>.
    </p>
    
    <p>
      Read through our <a href="/guides">guides</a> on the most common tasks and challenges developers encounter when working with our APIs. 
    </p>
    
    <h3>Step 2: Ask for help in our Community</h3>
    
    <p>
      Visit our <a href="/support/discussion">Discussion</a> page for a list of forums where you can ask questions of the Bluescape API community.
    </p>
    
    <h3>Step 3: Get Direct Support (Sign in required)</h3>
    
    <p>
      Found a bug or have a feature request? Question about your account or billing? <a href="{{ urls.messages_new }}">Contact</a> our technical support team for one-on-one email support with your project, and for all urgent requests.
    </p>
    
  </div>
</div>