<div class="row">
  
  <div id="menu" class="col-md-2">
    {% include 'support/menu' %}
  </div>
  
  <div id="content" class="col-md-8">
    	
    <h1>Discussion</h1>
    
    <p>
      Help and discussion is available from our API technical team and the supportive community of developers working with Bluescape's APIs on StackOverflow using our tag <a target="_blank" href="https://stackoverflow.com/questions/tagged/bluescape-api">[bluescape-api]</a>. We here at Bluescape routinely monitor this community and will try to answer as many questions as possible.
    </p>
    
  </div>
</div>