<div class="row">
  <div id="menu" class="col-md-2">
    {% include 'tools/menu' %}
  </div>
  <div id="content" class="col-md-8">

    <h1>Access Token Generator</h1>

    <p>
      This tool is provided for convenience to get started with the APIs quickly and for testing applications. The access tokens created here expire like any other access token and should not be hardcoded into applications. In order to use this tool you must be an existing Bluescape user.
    </p>

    <p>
      When you click the Generate Access Token button below, the OAuth flow will be trigged and a window will open prompting you to log into your Bluescape account. After logging in successfully, the window will close and you will be redirected to this page. An access token will be displayed in the space below. It will enable you to call the APIs on behalf of your own Bluescape user.
    </p>
    
    <p>
      In order to use tokens generated here in browser applications, the webpage must be served from a server running on one of the domains listed below. The tokens you get from the Access Token Generator are tied to an application that has whitelisted these domains only, and if requests are made from another domain, the CORS request will fail with a <span class="pre">403 Forbidden</span>.
    </p>

    <ul>
      <li>http://localhost:3000</li>
      <li>http://localhost:8080</li>
      <li>http://localhost:9080</li>
    </ul>
    
    <p style="padding-top: 20px">
      <input type="button" class="btn btn-primary" value="Generate Access Token" onclick="open_win()">
    </p>

    <h3>Access Token:</h3>

    <pre id="accessToken">Click the Generate Access Token button to get started.</pre>
  
  </div>
</div>

<script>
  function open_win()
  {
    const identityUrl = 'https://api.apps.us.bluescape.com/authorize';
    const redirectUri = 'https://developer.bluescape.com/tools/access-token/callback';
    const clientId = '89acce82';
    
    const loginWin = window.open(`${identityUrl}?client_id=${clientId}&redirect_uri=${redirectUri}&response_type=token`, "accessTokenTool");
  }

  function handleAccessToken(accessToken)
  {
    $("#accessToken").text(accessToken);
  }
</script>