<div class="row">
  <div id="menu" class="col-md-2">
    {% include 'tools/menu' %}
  </div>
  <div id="content" class="col-md-8">
    
    <h1>Postman Collection</h1>
    
    <p>
      <a href="https://www.getpostman.com/" target="_blank">Postman</a> is a free REST Client that offers an easy-to-use interface for building and testing API calls. We provide a collection file (JSON format) that can be imported into Postman to define the full set of requests available in the Bluescape API so you can begin making requests and reviewing responses quickly.
    </p>
    
    <p>
      In order to get started using Postman with the Bluescape API, follow these steps:
    </p>

    <ol>
      <li>Download the collection file to your computer</li>
      <li>Import the collection into Postman by using the Import button in the header toolbar or by selecting <b>File > Import...</b> and providing the downloaded file.</li>
      <li>Define the <a href="https://www.getpostman.com/docs/v5/postman/environments_and_globals/variables" target="_blank">variables</a> used in the collection (or replace the use of variables in urls and parameters with hard-coded values). 
      </li>
      <li>Send your requests!</li>
    </ol>
    
    <br />
    
  	<p>
      <a class="btn btn-primary" href="/tools/postman-collection-json">
        <i class="fa fa-download"></i>
        Download the Collection
      </a>
    </p>
    
  </div>
</div>