<ol>
  <li class="spacer"><h4>ACCOUNT</h4></li>
  
  <li><a href="{{ urls.applications }}">Applications</a></li>
  
  <li><a href="{{ urls.messages_inbox }}">Messages</a></li>
  <li class="subitem Messages">
    <a href="{{ urls.messages_inbox }}">Inbox</a>
  </li>
  <li class="subitem Messages">
    <a href="{{ urls.messages_trash }}">Trash</a>
  </li>
  <li class="subitem Messages">
    <a href="{{ urls.messages_outbox }}">Sent</a>
  </li>
  
  {% if current_user.admin? %}
  <li><a href="{{ urls.account_overview }}">Settings</a></li>
  {% endif %}
  
  {% if current_user.admin? %}
  <li><a href="{{ urls.users }}">Users</a></li>
  <li class="subitem Users">
    <a href="{{ urls.users }}">All Users</a>
  </li>
  {% endif %}
  
  <li class="subitem Users">
    <a href="{{ urls.invitations }}">Invitations</a>
  </li>
  
  <li><a href="{{ urls.personal_details }}">Profile</a></li>
</ol>

<script>
$(document).ready(function() {
  const href = window.location.href;
  
  const isApplications = href.indexOf("application") >= 0;
  const isMessages = href.indexOf("messages") >= 0;
  const isSettings = href.endsWith("admin/account");
  const isUsers = href.indexOf("users") >= 0 || href.indexOf("invitation") >= 0;
  const isProfile = href.endsWith("personal_details");
  
  if (isApplications) $("#menu ol li.subitem.Applications").show();
  if (isMessages) $("#menu ol li.subitem.Messages").show();
  if (isSettings) $("#menu ol li.subitem.Settings").show();
  if (isUsers) $("#menu ol li.subitem.Users").show();
  if (isProfile) $("#menu ol li.subitem.Profile").show();
});
</script>