<div class="row">
  
  <div id="menu" class="col-md-2">
    
    {% include 'account/menu' %}
    
  </div>
  
  <div id="content" class="col-md-8">

    <div class="content-header">
	  <h1>Trash</h1>
      <div class="btn-group">
        
      </div>
    </div>
    
    <table id="messages" class="table table-striped">
      <thead>
        <tr>
          <th>From</th>
          <th>Subject</th>
          <th colspan="2">Date sent</th>
        </tr>
      </thead>
      <tbody>
        {% if messages.size > 0  %}
          {% for message in messages %}
            <tr class="{% cycle 'messages': 'odd', 'even' %}">
              <td>
                {{ message.sender }}
              </td>
              <td>
                {{ message.subject | link_to: message.url }}
              </td>
              <td>
                {{ message.created_at | date: "%b %d, %Y %I:%M %P %Z" }}
              </td>
              <td>
                {{ 'Restore' | delete_button: message.url, class: 'btn btn-default' }}
             </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="empty" colspan="4">Your trash is empty.</td>
          </tr>
        {% endif %}
      </tbody>
    </table>

    {% include 'shared/pagination' with pagination %}
  </div>
</div>